<%- include('partials/header') %>

    <div class="ui main text container segment">
        <div class="ui huge header">
            <%= blog.title %>
        </div>
        <div class="ui top attached ">
            <div class="item">
                <img class="ui rounded image" src="<%= blog.image%>">
            </div>
            <div class="content" id="con">
                <span><em><%= blog.created.toDateString() %></em></span><br>
                <span>Posted By : <strong><%=  blog.author.username %></strong></span>
            </div>
            <div class="ui fitted divider"></div>
            <div class="description dis">
                <p>
                    <%- blog.body%>
                </p>
            </div>
            <% if(currentUser && blog.author.id.equals(currentUser._id)) {%>
                <a class="mini ui red basic button" href="/blogs/<%= blog._id%>/edit">Edit Post</a>
                <form id="delForm" action="/blogs/<%= blog._id%>?_method=DELETE" method="POST">
                    <input class="mini ui red basic button" type="submit" value="Delete Post">
                </form>
                <%}%>
        </div>



        <p>

        </p>
    </div>

    <%- include('partials/footer') %>