<%- include('partials/header') %>

    <div class="ui main text container">
        <div class="ui top attached segment">
            <div class="ui divided items">
                <% blogs.forEach((blog)=>{%>
                    <div class="item">
                        <div class="image">
                            <img src="<%= blog.image%>">
                        </div>
                        <div class="content">
                            <a class="header" href="/blogs/<%= blog._id%>">
                                <%= blog.title %>
                            </a>
                            <div class="meta">
                                <span><%= blog.created.toDateString()%></span>
                                <span>By: <a href="/blogs/user/<%= blog.author.username%>/1"><%= blog.author.username%></a></span>
                            </div>
                            <div class="description">
                                <p>
                                    <%- blog.body.substring(0,100) %>...
                                </p>
                            </div>
                            <div class="extra">
                                <a class="ui floated basic violet button" href="/blogs/<%= blog._id%>">Read Mores</a>
                            </div>
                        </div>
                    </div>

                    <%}) %>
            </div>

            <% if ( pages > 1) { %>
                <% for (var i =1; i <=pages;  i++ ) { %>

                    <% if(i===parseInt(currentPage)) {%>
                        <span class="pag"><%=  parseInt(currentPage) %></span>
                        <% } else{%>
                            <a class="pag" href="/allblogs/<%= i %>">
                                <%= i %>
                            </a>
                            <% } %>
                                <% } %>
                                    <% } %>



        </div>
    </div>




    <%- include('partials/footer') %>